
* { margin: 0; padding: 0; }

body, html {
    height: 100%;
    font-family: sans-serif;
}

body {
    display: flex;
}
.wrap {
    margin: auto;
}
#title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
}
#page-wrap {
    width: 500px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 7px 30px rgba(0,0,0,.2);
}
#page-wrap img {
    width: 100%;
    display: block;
}

.figure {
    position: relative;
}

.lente {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.content {
    padding: 35px;
    text-align: left;
    position: relative;
    
}
.content h1 {
    color: #bbb;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5em;
    font-weight: normal;
}

.content h1 span {
    letter-spacing: .1em;
    display: block;
    font-size: 34px;
    padding-top: 15px;
}
.team {
    width: 140px;
    position: absolute;
    right: 35px;
    bottom: 40px;
}